<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Alaska Trips Regression Suite">
	<listeners>
		<listener class-name="listener.CustomListener"></listener>
	</listeners>
	<test name="Winter Tours Test">
		<classes>
			<class name="testcases.WinterToursTest" />
		</classes>
	</test>
	<test name="Summer Tours Test">
		<classes>
			<class name="testcases.SummerToursTest" />
		</classes>
	</test>
</suite>
